/* STYLE */
body 
{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #87CEEB, #FFF5B7);
    color: #333;
}

h1 
{
    font-size: 2.5rem;
    color: #88ff00;
    margin-bottom: 20px;
    text-shadow: 2px 2px #a6ff00;
}

label, select, button
 {
    font-size: 1.2rem;
    margin: 10px;
}

/* DROPDOWN AND BUTTON */
select, button 
{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #73ff00;
    background-color: #FFF5B7;
    cursor: pointer;
    transition: 0.3s;
}

select:hover, button:hover 
{
    background-color: #88ff00;
}

/* STYLING RESULTS */
#result 
{
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s ease-in-out;
}

/* ICON STYLING */
.sun-icon 
{
    font-size: 3rem;
    color: #88ff00;
    margin-top: 15px;
    animation: rotateSun 6s linear infinite;
}

/* ANIMATIONS */
@keyframes fadeIn 
{
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes rotateSun
 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
